---
import Layout from "../layouts/Layout.astro";
import ProjectsComp from "../components/ProjectsComp.astro";
---

<Layout title="projects">
	<main>
		<ProjectsComp position="start" />
	</main>
</Layout>
