---
import TechStack from "../components/TechStack.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tech Stack">
	<main>
		<TechStack position="start" />
	</main>
</Layout>
