---
import NavLinks from "./NavLinks.astro";

---

<footer>
    <div class="container">
        <NavLinks />
    </div>
</footer>
<style>
    footer {
        padding-bottom: 2rem;
    }
</style>