<div class="logo">
    <span>{`{OLA}`}</span>
    <span>Olawande</span>
</div>

<style>
    .logo {
        text-align: center;
    }
    .logo span {
        display: block;
        text-align: center;
        background: linear-gradient(90deg, rgba(19,176,245,1) 55%, rgba(231,15,170,1) 100%);;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .logo span:first-child {
        font-weight: 800;
    }
</style>
