<div class="nav_links">
    <li><i class="fa fa-brands fa-github"></i></li>
    <li><i class="fa fa-brands fa-square-x-twitter"></i></li>
    <li><i class="fa fa-brands fa-linkedin"></i></li>
</div>

<style>
    .nav_links {
        display: flex;
        align-items: center;
        gap: 1.23rem;
        list-style-type: none;
    }
    .nav_links li {
        color: var(--text-dark);
        font-family: 'DM Sans', sans-serif;;
    }
</style>